extends layout

block main-content
  .main-content
    div.welcome
      h2 Welcome, #{user.name.first}
      h5 #{weekday}, #{month} #{day}
    form.new-jab(action="/jab", method="post")
      .top 
        img.profile-pic(src="/profile-picture.png")
        textarea.jab-text(name="jabcontent", placeholder="Whats happening?", maxlength="40")
      .bottom 
        button.send-jab(type="submit") Jab
    .jabs
      each jab in jabs 
        .jab
          span #{jab.author.name}


    
