block variables
doctype html
html
  head
    meta(charset="utf-8")
    link(rel="shortcut icon", href="/favicon.ico")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="theme-color", content="#000000")
    title #{title} | PS
    link(rel="stylesheet" href="/style.css")
  body
    div.form-area
      h2.signup-header Sign Up
      form.register-form(action='/register', method='post')
        input.form-item(name="email", placeholder='email', value=forminfo.email)
        if errors && errors['email']
          span.form-error #{errors['email'].message}
        input.form-item(name="password", type="password", placeholder="password")
        if errors && errors['password']
          span.form-error #{errors['password'].message}
        button.form-item(type="submit") Sign Up
      