block variables
doctype html
html
  head
    meta(charset="utf-8")
    link(rel="shortcut icon", href="/favicon.ico")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="theme-color", content="#000000")
    title #{title} | PS
    link(rel="stylesheet" href="/style.css")
  body
    div.auth-form#register
      h2.form-header Sign Up
      if error
        span.form-error #{error}
      form.form-body(action='/register', method='post')
        input.form-input.form-item(name="firstname", placeholder='First Name', value=forminfo.name.first, autofocus)
        input.form-input.form-item(name="lastname", placeholder='Last Name', value=forminfo.name.last)
        input.form-input.form-item(name="email", placeholder='Email', value=forminfo.email)
        input.form-input.form-item(name="password", type="password", placeholder="Password")
        input.form-input.form-item(name="cpassword", type="password", placeholder="Confirm Password")
        button.form-item(type="submit") Sign Up
        span.options.form-item Already have an account? 
          a(href='/login') Login