block variables
doctype html
html
  head
    meta(charset="utf-8")
    link(rel="shortcut icon", href="/favicon.ico")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="theme-color", content="#000000")
    title #{title} | PS
    link(rel="stylesheet" href="/style.css")
  body
    form.register(action='/register', method='post')
      h2.register-header Sign Up
      input.form-item(name="firstname", placeholder='First Name', value=forminfo.name.first, required, autofocus)
      if errors && errors['name'] && errors['name'].first
        span.form-error #{errors['name'].first.message}

      input.form-item(name="lastname", placeholder='Last Name', value=forminfo.name.last, required)
      if errors && errors['name'] && errors['name'].last
        span.form-error #{errors['name'].last.message}

      input.form-item(name="email", placeholder='Email', value=forminfo.email, required)
      if errors && errors['email']
        span.form-error #{errors['email'].message}

      input.form-item(name="password", type="password", placeholder="Password", required)
      if errors && errors['password']
        span.form-error #{errors['password'].message}

      input.form-item(name="cpassword", type="password", placeholder="Confirm Password", required)
      if errors && errors['cpassword']
        span.form-error #{errors['cpassword'].message}

      button.form-item(type="submit") Sign Up
      span.options.form-item Already have an account? 
        a(href='/login') Login